$bgcolor-1: #f5fcfd;
$blue-primary: #0f7bff;
$blue-dark: #0063dd;
$blue-light: #dfedff;
$text-color: #929292;
$header-color: #333333;

%border {
  border: 1px solid red;
}

html {
  font-size: 8px;
}

a {
  text-decoration: none;
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.main-content {
  position: relative;
  width: 100%;
  overflow: hidden;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.7rem;
  color: $text-color;
}

.content-wrapper {
  width: 1150px;
}

.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 104.3rem;
  background-color: $bgcolor-1;
  background: url(../../assets/img/Shape_1.png) no-repeat;
  background-size: cover;
}

.content-align {
  max-width: 114rem;
  width: 100%;
  margin: 0 auto;
}

.btn {
  display: flex;
  justify-content: center;
  width: 16.5rem;
  height: 5rem;
  border-radius: 25px;
  border: 2px solid $blue-primary;
  color: $blue-primary;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.7rem;
  background-color: #fff;
  cursor: pointer;

  &_fill {
    background-color: $blue-primary;
    color: #ffffff;
  }
  &_dark {
    border-color:$blue-dark;
    background-color: $blue-dark;
  }

  &_rectangle {
    width: 26.3rem;
    height: 7.6rem;
    border-radius: 5px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.link {
  position: relative;
  color: $blue-primary;
  font-size: 1.6rem;
  font-weight: 600;

  &_white {
    font-weight: 700;
    color: #ffffff;
    margin-right: 3rem;
  }

  &__arrow {
    display: block;
    position: absolute;
    top: 55%;
    right: -2.2rem;
    width: 1.5rem;
    height: 1px;
    background-color: $blue-primary;
    
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 0.8rem;
      height: 1px;
      background-color: $blue-primary;
      transform: rotate(-45deg);
      transform-origin: 100% 0%;
    }
    
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 0.8rem;
      height: 1px;
      background-color: $blue-primary;
      transform: rotate(45deg);
      transform-origin: 100% 0%;
    }

    &_white {
      top: 53%;
      right: -3.2rem;
      width: 1.9rem;
      height: 1.5px;
      background-color: #fff;

      &:before {
        width: 1rem;
        height: 1.5px;
        background-color: #fff;
      }

      &:after {
        width: 1rem;
        height: 1.5px;
        background-color: #fff;
      }
    }
    
    a:hover .arrow1,
    a:hover .arrow1:before,
    a:hover .arrow1:after {
      opacity: 0.8;
    }
  }
}

.section-title {
  position: relative;
  z-index: 0;
  max-width: 73.1rem;
  width: 100%;
  min-height: 12.6rem;
  height: 100%;
  text-align: center;

  &-background {
    position: absolute;
    z-index: -1;
    width: 7rem;
    height: 2.6rem;
    transform: rotate(-45deg);
    border-radius: 20%/50%;

    &_left {
      background-color: #edf5ff;
      top: 23%;
      left: 43%;
    }

    &_right {
      background-color: #ebf9ff;
      top: 20%;
      right: 42%;
    }
  }

  h2 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 3.6rem;
    color: $header-color;
    margin-top: 2.1rem;
    margin-bottom: 2.5rem;
  }

  p {
    width: 101%;
  }

}

.next-section-btn {
  position: absolute;
  bottom: -3.5rem;
  width: 7rem;
  height: 7rem;
  border: 1px solid #dcdcdc;
  border-radius: 50%;
  background-color: #fff;
  z-index: 2;
  
  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .arrow {
    width: 0.3rem;
    height: 3.7rem;
    background-color: #dcdcdc;
    position: relative;
    top: 10px;

    &-down {
      position: relative;
      top: -10px;
      border: solid #dcdcdc;
      width: 2rem;
      height: 2rem;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
  }
}

.m-menu{
	position: fixed;
	z-index: 99;
	top: 0;
	right: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to top,$blue-primary, #eeeeee, );
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
  transform: translateX(100%);
  
  a{
    font-size: 3rem;
    margin-bottom: 2rem;
    color: $blue-primary;
  }

  &_active{
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}

.close-m-menu{
	position: fixed;
	top: 10%;
	right: 10%;
	font-weight: bold;
	color: #fff;
}

.close-m-menu:hover{
	cursor: pointer;
}

.m-menu-link{
	display: none;
	position: relative;
	width: 50px;
	height: 50px;
}

.menu{

  &-burger {
    position: absolute;
	  top: 50%;
	  left: 50%;
	  margin-top: -1px;
    margin-left: -10px;
	  width: 20px; 
	  height: 2px;
    background-color: $blue-primary;
    
    &::before, &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -1px;
      margin-left: -10px;
      width: 20px; 
      height: 2px;
      background-color: $blue-primary;
    }

    &::before{
      content: '';
      transform: translateY(-5px);
    }
  
    &::after{
      content: '';
      transform: translateY(5px);
    }
  }
}

.scroll {
  position: absolute;
  bottom: 0.5%;
  right: 7.8%;
  width: 4.5rem;
  height: 4.5rem;
  background-color: #fff;
  border-radius: 3px;
  
  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__arrow {
    width: 0.2rem;
    height: 2rem;
    background-color: #dcdcdc;
    position: relative;
    top: 1.5rem;
    background-color: $blue-primary;

    &_top {
      position: relative;
      top: -0.5rem;
      border: 1px solid $blue-primary;
      width: 1rem;
      height: 1rem;
      border-width: 0 0.2rem 0.2rem 0;
      transform: rotate(225deg);
      -webkit-transform: rotate(225deg);
    }
  }
}

.header {
 
  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 164rem;
    width: 100%;
    height: 10rem;

    .logo {
      box-sizing: border-box;
      width: 17.9rem;
      height: 10rem;
      border-radius: 0 0 22px 22px;
      background-color: $blue-primary;
      text-align: center;
      padding-top: 3.2rem;

      &__text {
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 2.4rem;
        color: #feffff;
        
      }
    }

    .menu {
      display: flex;
      justify-content: space-between;
      width: 35.3rem;

      &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 57.3rem;
        text-transform: uppercase;
      }

      &-item {
        margin-right: 4rem;
        font-weight: 700;
        line-height: 27px;
        color: $text-color;

        &_active {
          color: $blue-primary;
        }
      }
    }
    
  }

  &-content {
    margin-top: 10.6rem;
    width: 61.1rem;
    height: 22.3rem;
    text-align: center;

    h2 {
      font-size: 3.6rem;
      font-weight: 700;
      color: $header-color;
      line-height: 2.4rem;
    }

    p {
      margin: 3.2rem 0 3.7rem;
      color: $text-color;
      line-height: 27px;  
    }
    
    .btn-wrapper {
      display: flex;
      width: 36rem;
      margin: 0 auto;
    }

    button:first-child {
      margin-right: 3rem;
    }
  }
}

.device {
  &-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 53.5rem;
    display: flex;
    width: 90rem;
    margin-top: 8rem;
  }
  
  width: 35.8rem;
  height: 49.6rem;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  
  &-left {
    background-image: url(../../assets/img/device-small.png);
    position: absolute;
    bottom: 0;
    left: -0.6rem;
  }

  &-center {
    width: 44.5rem;
    height: 109%;
    z-index: 2;
    background-image: url(../../assets/img/device.png);
  }

  &-right {
    background-image: url(../../assets/img/device-small.png);
    position: absolute;
    bottom: 0;
    right: -0.6rem;
  }

  &-screen {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 6rem;
    background-size: 65%;
    

    &-left {
      background-image: url(../../assets/img/Place_screen-small-left.png);
    }

    &-center {
      background-image: url(../../assets/img/Place_Your_screen-center.png);
      
      background-size: 69%;
    }

    &-right {
      background-image: url(../../assets/img/Place_your_screen-rigth.png);;
    }
  }
}

.features {
  height: 63rem;
  background-color: $bgcolor-1;
  border: solid transparent;

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 34rem;
    margin-top: 16.5rem;
    margin-bottom: 13rem;
  }

  .feature-item {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 36rem;
    height: 29rem;
    box-shadow: 0 0 25px #f0f0f0;
    border-radius: 5px;
    background-color: #ffffff;
    text-align: center;

    &-icon {
      width: 7rem;
      height: 7rem;
      margin-top: 4rem;
      margin-bottom: 2rem;
      border-radius: 50%;
      background-size: 45%;
      background-repeat: no-repeat;
      background-position: center;
    }

    &_icon1 {
      background-color: $blue-light;
      background-image: url(../../assets/img/feature-icon1.png);
    }

    &_icon2 {
      background-color: #f5dfff;
      background-image: url(../../assets/img/feature-icon2.png);
      background-size: 55%;
    }

    &_icon3 {
      background-color: #dfffe3;
      background-image: url(../../assets/img/feature-icon3.png);
    }

    &_header {
      margin-bottom: 1.8rem;
      font-weight: 600;
      font-size: 1.8rem;
      color: $header-color;
      line-height: 2.7rem;
    }

    &_center {
      align-self: flex-end;
    }
  }
}

.about {
  height: 119rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 112.9rem;
    height: 93rem;
    margin-left: 39rem;
    margin-right: 40.1rem;
  }

  .article-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 105rem;
    height: 40rem;

    &_right {
      align-self: flex-end ;
    }

    &_left {
      flex-direction: row-reverse;
      align-self: flex-start;
      width: 106.3rem;
    }
  }

  .app-screens {
    position: relative;
    width: 39.9rem;
    height: 100%;

    &-img-big {
      width: 26.3rem;
      height: 40rem;
    }

    &-img-small {
      position: absolute;
      top: 7%;
      right: 0;
      width: 22.1rem;
      height: 33.7rem;
    }

    &_background {
      position: absolute;
      z-index: -1;
      width: 48rem;
      height: 42.5rem;
      background-color: $blue-primary;
      transform: rotate(50deg);
      border-radius: 10%;

      &_top {
        top: -10%;
        left: -33%;
      }

      &_bottom {
        bottom: -9%;
        right: -32%;
      }
    }
  }

  &-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 54.4rem;
    height: 22.4rem;
    margin-top: 8.6rem;

    h2 {
      color: $header-color;
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 3.6rem;
    }
  }
}

.instruction {
  box-sizing: border-box;
  height: 64.6rem;
  background-color: $bgcolor-1;
  padding-top: 12.5rem;

  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-item {

    &-wrapper {
      position: relative;
      z-index: 0;
      display: flex;
      justify-content: space-between;
      margin-top: 4rem;
      width: 107.6rem;
      
    }
    
    width: 29.6rem;
    height: 25.6rem;
    text-align: center;

    &_header {
      margin-bottom: 1.5rem;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 2.7rem;
      color: $header-color;
    }

    p {
      width: 101%;
    }

    &-icon {
      width: 10rem;
      height: 10rem;
      background-color: $blue-light;
      margin: 0 auto;
      border-radius: 50%;
      margin-bottom: 2.6rem;
      background-size: 45%;
      background-repeat: no-repeat;
      background-position: center;
    }

    &_icon1 {
      background-image: url(../../assets/img/instruction-icon1.png);
    }

    &_icon2 {
      background-image: url(../../assets/img/instruction-icon2.png);
    }
    &_icon3 {
      background-image: url(../../assets/img/instruction-icon3.png);
      background-size: 40%;
    }

    
  }

  &_horizontal-line {
    position: absolute;
    z-index: -1;
    top: 20%;
    left: 18%;
    width: 69rem;
    border-top: 1px solid $blue-primary;
  }
}

.pricing {
  box-sizing: border-box;
  height: 83.6rem;
  padding-top: 13rem;

  &-wrapper {
    display: flex;
    align-items: center;

    :last-child {
      margin-right: 0;
    }
  }

  &-plan {
    width: 33.1rem;
    height: 26.6rem;
    margin-right: 5.9rem;

    h2 {
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 3.6rem;
      color: $header-color;
      margin-bottom: 3rem;
    }

    &__btn-wrapper {
      display: flex;
      margin-top: 3.4rem;
    }

    &__btn-left {
      border-radius : 25px 0 0 25px;
      border-right: none;
      width: 16.7rem;
    }

    &__btn-right {
      border-radius : 0 25px 25px 0;
      border-left: none;
    }
  }

  &-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 36rem;
    height: 57.6rem;
    box-shadow: 0 0 68px rgba(165, 165, 165, 0.25);
    border-radius: 5px;
    background-color: #ffffff;
    margin-right: 3rem;

    &__wrapper{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &_buy {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

    &__icon {
      &-wrapper {
        position: relative;
        width: 10rem;
        height: 10rem;
        margin-top: 4rem;
        margin-bottom: 2.2rem;
      }

      position: absolute;
      top: 0;
      left: 0;
      background-color: $blue-light;
      border-radius: 50%;

      &-img {
        position: absolute;
        top: 24%;
        left: 25%;
        width: 5.5rem;
        height: 5.5rem;
      }

      &_big {
        width: 10rem;
        height: 10rem;
      }
  
      &_small {
        width: 7.5rem;
        height: 7.5rem;
        background-color: #cfe4fe;
        top: 13%;
        left: 13%;
      }
    }

    h2 {
      font-size: 1.8rem;
      font-weight: 600;
      color: $header-color;
      margin-bottom: 2.5rem;
    }

    &__horizontal {
      width: 16.5rem;
      background-color: #e0e0e0;
      margin: 0;
      margin-bottom: 1.9rem;
    }

    &__service {
      height: 16.6rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1.7rem;
    }

    .price {
      margin-bottom: 2.6rem;
      font-size: 3.2rem;
      font-weight: 500;
      line-height: 3.6rem;
      color: $blue-primary;

      .currency {
        font-size: 1.6rem;
        font-weight: 500;
      }
    }
  }
}

.testimonials {
  display: flex;
  height: 60.8rem;
  background-color: $bgcolor-1;

  &__img {
    width: 75.2rem;
    height: 60.8rem;
  }

  &-wrapper {
    width: 103.9rem;
    height: 37.8rem;
    margin-top: 12.5rem;
    margin-left: 12.7rem;
    overflow: hidden;
  }

  &__header {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 3.6rem;
    color: $header-color;
    margin-bottom: 4.4rem;
  }

  &__review {
    width: 117.8rem;
    height: 21.5rem;
    display: flex;
  }

  .review-item {
    position: relative;
    box-sizing: border-box;
    width: 36rem;
    height: 21.5rem;
    padding: 3rem 3rem;
    margin-right: 3rem;
    box-shadow: 0 0 25px rgba(165, 165, 165, 0.1);
    border-radius: 5px;
    background-color: #ffffff;

    &__icon {
      position: absolute;
      top: 19%;
      right: 9%;
      width: 1.7rem;
      height: 1.3rem;
    }

    &__header {
      font-size: 1.8rem;
      font-weight: 600;
      color: $header-color;
    }

    &__sub-header {
      font-size: 1.4rem;
      margin-bottom: 2.9rem;
    }

    p {
      margin-top: 1.5rem;
    }
  }

  &__pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 9rem;
    height: 1rem;
    margin-top: 5rem;

    .pagination-item {
      width: 2rem;
      height: 1rem;
      border-radius: 5px;
      background-color: #d4d4d4;
      cursor: pointer;

      &_active {
        width: 3rem;
        background-color: $blue-primary;
      }
    }
  }

}

.lastest-news {
  box-sizing: border-box;
  padding-top: 12.5rem;
  height: 96rem;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.posts {
  display: flex;
  justify-content: space-between;
  height: 53rem;
  width: 100%;
  margin-top: 4.2rem;

  &__main {
    width: 55.6rem;
  }

  &__side {
    width: 55.2rem;
  }
}

.post {

  &_big {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__preview {
    width: 16.5rem;
    height: 12rem;
    margin-right: 3rem;

    &-big{
      width: 55.5rem;
      height: 28.5rem;
    }

  }

  &__header {
    width: 101%;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.8rem;
    color: $header-color;

    &_big {
      margin-top: 3rem;
      font-size: 2.4rem;
      font-weight: 600;
      line-height: 3.6rem;
      color: $blue-primary;
    }
  }

  &_small {
    height: 12rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
  }

  &__main-content {
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
  }
  
  &__text-wrapper {
    margin-top: -0.7rem;
  }
}

.free-trial  {
  box-sizing: border-box;
  padding-top: 12.5rem;
  height: 33.6rem;
  background-color: $bgcolor-1;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text-content {
    margin-right: 16.5rem;

    h2 {
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 3.6rem;
      color: $header-color;
      margin-bottom: 2rem;
    }
  }
}

.page-footer {
  position: relative;
  height: 38.9rem;
  background-color: $blue-primary;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
      font-size: 3.6rem;
      font-weight: 700;
      line-height: 2.4rem;
      color: #fff;
      margin-top: 13rem;
      margin-bottom: 4.1rem;
    }
  }

  .subscribe {
    display: flex;
    align-items: center;
    width: 56rem;
    height: 6rem;
    margin-bottom: 13rem;
  
    &__email {
      flex-grow: 1;
      height: 5.6rem;
      border: 2px solid #fff;
      border-right: none;
      border-radius: 50px 0 0 50px;
      background-color: transparent;
      padding: 0 5%;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2.7rem;
      color: #fff;
  
      &::-webkit-input-placeholder {
        color: #fff;
      }
  
      &::-moz-placeholder {
        color: #fff;
      }
    }
  
    &__btn {
      width: 16.8rem;
      height: 6.5rem;
      border-radius: 0 50px 50px 0;
      border-left: none;
      background-color: #fff;
      color: $blue-primary;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.6rem;
      line-height: 2.7rem;
    }
  }

  .horiazontal-line {
    position: absolute;
    bottom: 9.5rem;
    width: 100%;
    background-color: #fff;
  }
}

.footer {
  box-sizing: border-box;
  padding-top: 3rem;
  width: 100%;
  height: 10.3rem;
  border-top: 1px solid #fff;
  background-color: $blue-primary;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  

  .copyright {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.7rem;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    width: 34.8rem;
    margin-left: 12rem;
    
    &-item {
      color: #d8d8d8;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2.7rem;
      cursor: pointer;
    }
  }

  .social-media {
    display: flex;
    width: 7.8rem;
    height: 2rem;

    &__link {
      width: 2.6rem;
      background-repeat: no-repeat;
      background-size: cover;

      &-fb {
        background-image: url(../../assets/img/social-media.png);
      }

      &-tw {
        background-image: url(../../assets/img/social-media.png);
        background-position-x: 50%;
      }

      &-yt {
        background-image: url(../../assets/img/social-media.png);
        background-position-x: 100%;
      }
    }
  }
}

@media only screen and (min-width: 1920px) {
  html {
    font-size: 10px;
  }
}

@media only screen and (min-width: 2560px) {
  html {
    font-size: 13.3px;
  }
}

@media only screen and  (max-width: 1520px) {
  .page-header {
    box-sizing: border-box;
    padding: 0 4rem;
  }
}

@media only screen and (max-width: 1280px) {
  html {
    font-size: 7px;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 6px;
  }
}

@media only screen and (max-device-width : 1024px) {
  .page-header {
    height: 60rem;
    background-size: contain;
    background-position: right;
  }

  .device-wrapper {
    display: none;
  }

  .header-content p {
      color: #000000;
  }

  .next-section-btn {

    .arrow-down {
      top: -4px;
    }
  }

  .about {
      .app-screens_background {
        &_top {
          left: -12%
        }

        &_bottom {
          right: -12%;
        }
      }
  }

  .testimonials {
    &__img {
      width: 68.2rem;
    }

    &-wrapper {
      margin-left: 5.7rem;
    }
  }

  .scroll {
    right: 2%;
  }
}
 

@media only screen and (max-device-width : 768px) {
  .page-header {
    background-image: none;
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 4rem;
  }

  .header-content {
    width: 100%;
    height: 100%;
    max-width: 61.1rem;
    margin-top: 5rem;

    p {
      color: #929292;
    }
    
  }

  .header-top {
    .menu-wrapper {
      display: none;
    }
  }

  .m-menu-link {
    display: block;
  }
  
  .features {
    height: 100%;

    &-wrapper {
      width: 70%;
      height: 100%;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 8rem auto;
    }

    .feature-item {
      margin-bottom: 2rem;
      &_center {
        align-self: auto;
      }

      // &:first-child {
      //   margin-right: 2rem;
      // }
    }
  }

  .about {
    box-sizing: border-box;
    padding: 13rem 4rem 4rem;
    height: 100%;

    &-wrapper {
      height: 100%;
      margin: 0;
      align-items: center;
    }

    &-item {
      width: 100%;
      max-width: 54.4rem;
    }

    .article-wrapper {
      flex-direction: column;
      align-items: center ;
      height: 100%;
      width: 100%;

      &:first-child {
        margin-bottom: 8rem;
      }
    }
  }

  .instruction {
    height: 100%;
    padding: 12.5rem 5rem 0;
    &-item-wrapper {
      flex-direction: column;
      align-items: center;
    }

    &_horizontal-line {
      width: 1px;
      height: 60rem;
      top: 0%;
      left: 50%;
      border-top: none;
      border-left: 1px solid $blue-primary;
    }

    &-item {
      margin-bottom: 2rem;
    }
  }

  .pricing {
    height: 100%;
    padding: 8rem 5rem 5rem;

    &-wrapper {
      flex-direction: column;
    }

    &-plan {
      margin-right: 0;
      margin-bottom: 3rem;
    }

    &-card {
      margin-right: 0;
      margin-bottom: 3rem;
      flex-direction: row;
      justify-content: flex-start;
      width: 100%;
      max-width: 58rem;
      min-width: 40rem;
      height: 100%;

      &__horizontal {
        height: 16.5rem;
        width: 1px;
      }

      &__wrapper {
        &:first-child {
          margin: 0 5rem;
        }
        &:last-child {
          width: 100%;
        }

        &_buy {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: baseline;
          width: 90%;
        }

        
      }

      &__service {
        margin-top: 3rem;
      }
    }
  }

  .testimonials {
    box-sizing: border-box;
    padding-top: 5rem;
    height: 100%;

    &__img {
      display: none;
    }

    &-wrapper {
      margin: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__header {
      margin-left: 4rem;
      margin-right: 4rem;
      text-align: center;
    }
  }

  .lastest-news {
    height: 100%;
    padding: 5rem 4rem 0;
  }
  
  .posts {
    flex-direction: column;
    align-items: center;
    height: 100%;
    
    &__main {
      margin-bottom: 4rem;
      max-width: 55.6rem;
      width: 100%;
    }

    &__side {
      max-width: 55.2rem;
      width: 100%;
    }
  }

  .post {

    &__preview {
      
      &-big {
        max-width: 55.2rem;
        width: 100%;
        height: auto;
      }
    }

    &_small {
      min-width: 40rem;
      height: 100%;
    }
  }

  .free-trial {
    padding: 5rem 4rem 0;
    &__wrapper {
      height: 100%;
      flex-direction: column;
      align-items: center;
    }

    .text-content {
      margin: 0;
      margin-bottom: 4rem;
    }
  }

  .scroll {
    bottom: 1.5%;
  }

  .page-footer {
    box-sizing: border-box;
    padding: 5rem 4rem 7rem;
    height: 100%;

    .logo {
      margin-top: 0;
    }

    .subscribe {
      max-width: 56rem;
      width: 100%;
      margin-bottom: 0;
    }

    .horiazontal-line {
      bottom: 15%;
    }
  }

  .footer {
    padding: 3rem 2rem;
    margin: 0;

    &__wrapper {
      height: 100%;
    }
    
    &__nav {
      margin-left: 3rem;
      margin-right: 3rem;
    }

    .copyright__wrapper {
      width: 40%
    }
  }
}


@media only screen and (max-width: 380px) {
  .pricing-card__wrapper_buy {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about {

    .app-screens_background {
      width: 40rem;
      height: 35.5rem;

      &_top {
        left: 0%;
        top: auto;
      }

      &_bottom {
        right: 0%;
        bottom: auto;
      }
    }
  }
}

/*
.features {
    height: 100%;
    &-wrapper {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      margin: 2rem 0;
      height: auto;
    }
  }

  .feature {
    &-item {
      
    }
  }
*/