$bgcolor-1: #f5fcfd;
$blue-primary: #0f7bff;
$blue-dark: #0063dd;
$blue-light: #dfedff;
$text-color: #929292;
$header-color: #333333;

%border {
  border: 1px solid red;
}

html {
  font-size: 8px;
}

.main-content {
  position: relative;
  width: 100%;
  overflow: hidden;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.7rem;
  color: $text-color;
}

.content-wrapper {
  // @extend %border;
  max-width: 112.6rem;
  width: 100%;
}

main {
  height: 204rem;
}

.scroll {
  position: absolute;
  bottom: 1%;
  right: 7.8%;
  width: 4.5rem;
  height: 4.5rem;
  background-color: $blue-primary;
  border-radius: 3px;
  
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  &__arrow {
    width: 0.2rem;
    height: 2rem;
    position: relative;
    top: 1.5rem;
    background-color: #fff;

    &_top {
      position: relative;
      top: -0.5rem;
      border: 1px solid #fff;
      width: 1rem;
      height: 1rem;
      border-width: 0 0.2rem 0.2rem 0;
      transform: rotate(225deg);
      -webkit-transform: rotate(225deg);
    }
  }
}

@media only screen and (min-width: 1920px) {
  html {
    font-size: 10px;
  }
}

@media only screen and (min-width: 2560px) {
  html {
    font-size: 13.3px;
  }
}