@import "const.scss";
@import "header.scss", "footer.scss";
@import "btn.scss";
@import "sign-up.scss";

.login-form {
  &__links {
    display: flex;
    justify-content: space-between;
    max-width: 36rem;
    width: 100%;
    margin-top: -0.9rem;
    margin-bottom: 2.2rem;
  }
  
  &__link {
    font-size: 1.2rem;
    color: $blue-primary;
  }
}

@media only screen and (min-width: 1920px) {
  html {
    font-size: 10px;
  }
}


@media only screen and (max-width: 1920px) {
  body {
    height: 100vh;
  }

  main {
    // height: 60.5vh;
    height: 45.5vh;
  }
}

@media only screen and (min-width: 2560px) {
  html {
    font-size: 13.3px;
  }
}

@media only screen and (max-width: 1280px) {
  html {
    font-size: 7px;
  }

  body {
    height: 100vh;
  }

  main {
    // height: 60.5vh;
    height: 52.5vh;
  }
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 6px;
  }
  
  main {
    height: 60vh;
  }

  .scroll {
    bottom: 6%;
  }
}

@media only screen and (max-width: 700px) {
  
  main {
    // height: 60vh;
    height: 54vh;
  }
}