@import "const.scss";
@import "header.scss", "footer.scss";
@import "btn.scss";
@import "sign-up.scss";

.login-form {
  &__links {
    display: flex;
    justify-content: space-between;
    max-width: 36rem;
    width: 100%;
    margin-top: -0.9rem;
    margin-bottom: 2.2rem;
  }
  
  &__link {
    font-size: 1.2rem;
    color: $blue-primary;
  }
}