.content-wrapper {
  max-width: 112.6rem;
  width: 100%;
}

a {
  text-decoration: none;
  color: #333333;
}
a:hover {
  color: #0f7bff;
}
a:active {
  opacity: 0.5;
}

.sign-up_white {
  color: #ffffff;
}
.sign-up_white:hover {
  color: #ffffff;
  opacity: 0.8;
}
.sign-up_white:active {
  color: #ffffff;
  opacity: 0.5;
}

.page-header {
  box-sizing: border-box;
  padding: 2.5rem 4rem;
  background-color: #f5fcfd;
}
.page-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 162rem;
  width: 100%;
  margin: 0 auto;
}
.page-header .logo__text {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 2.4rem;
  color: #0f7bff;
}
.page-header .menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 35.3rem;
}
.page-header .menu-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 57.1rem;
}
.page-header .menu-item {
  box-sizing: border-box;
  height: 3rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.7rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #929292;
}
.page-header .menu-item_active {
  color: #0f7bff;
}
.page-header .menu-item:hover {
  color: #0f7bff;
}
.page-header .menu-item:active {
  color: #0f7bff;
}

.m-menu {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, #0f7bff, #eeeeee);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.m-menu-item {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #0f7bff;
  text-decoration: none;
}
.m-menu_active {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}

.close-m-menu {
  position: fixed;
  top: 10%;
  right: 10%;
  font-weight: bold;
  font-size: 3.6rem;
  color: #000;
}

.close-m-menu:hover {
  cursor: pointer;
}

.m-menu-link {
  display: none;
  position: relative;
  width: 50px;
  height: 50px;
}

.menu-burger {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #0f7bff;
}
.menu-burger::before, .menu-burger::after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #0f7bff;
}
.menu-burger::before {
  content: "";
  transform: translateY(-5px);
}
.menu-burger::after {
  content: "";
  transform: translateY(5px);
}

@media only screen and (min-width: 1920px) {
  html {
    font-size: 10px;
  }
}
@media only screen and (min-width: 2560px) {
  html {
    font-size: 13.3px;
  }
}
@media only screen and (max-width: 1280px) {
  html {
    font-size: 7px;
  }
}
@media only screen and (max-device-width: 1024px) {
  html {
    font-size: 6px;
  }
}
@media only screen and (max-device-width: 768px) {
  .m-menu-link {
    display: block;
  }

  .page-header .menu-wrapper {
    display: none;
  }
}

/*# sourceMappingURL=header.css.map */
