html {
  font-size: 8px;
}

a {
  text-decoration: none;
}
a:hover {
  opacity: 0.8;
}
a:active {
  opacity: 0.5;
}

.main-content {
  position: relative;
  width: 100%;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.7rem;
  color: #929292;
}

.content-wrapper {
  width: 1150px;
}

.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 104.3rem;
  background-color: #f5fcfd;
  background: url(../../assets/img/Shape_1.png) no-repeat;
  background-size: cover;
}

.content-align {
  max-width: 114rem;
  width: 100%;
  margin: 0 auto;
}

.link {
  position: relative;
  color: #0f7bff;
  font-size: 1.6rem;
  font-weight: 600;
}
.link_white {
  font-weight: 700;
  color: #ffffff;
  margin-right: 3rem;
}
.link__arrow {
  display: block;
  position: absolute;
  top: 55%;
  right: -2.2rem;
  width: 1.5rem;
  height: 1px;
  background-color: #0f7bff;
}
.link__arrow:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 0.8rem;
  height: 1px;
  background-color: #0f7bff;
  transform: rotate(-45deg);
  transform-origin: 100% 0%;
}
.link__arrow:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 0.8rem;
  height: 1px;
  background-color: #0f7bff;
  transform: rotate(45deg);
  transform-origin: 100% 0%;
}
.link__arrow_white {
  top: 53%;
  right: -3.2rem;
  width: 1.9rem;
  height: 1.5px;
  background-color: #fff;
}
.link__arrow_white:before {
  width: 1rem;
  height: 1.5px;
  background-color: #fff;
}
.link__arrow_white:after {
  width: 1rem;
  height: 1.5px;
  background-color: #fff;
}
.link__arrow a:hover .arrow1,
.link__arrow a:hover .arrow1:before,
.link__arrow a:hover .arrow1:after {
  opacity: 0.8;
}

.section-title {
  position: relative;
  z-index: 0;
  max-width: 73.1rem;
  width: 100%;
  min-height: 12.6rem;
  height: 100%;
  text-align: center;
}
.section-title-background {
  position: absolute;
  z-index: -1;
  width: 7rem;
  height: 2.6rem;
  transform: rotate(-45deg);
  border-radius: 20%/50%;
}
.section-title-background_left {
  background-color: #edf5ff;
  top: 23%;
  left: 43%;
}
.section-title-background_right {
  background-color: #ebf9ff;
  top: 20%;
  right: 42%;
}
.section-title h2 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.6rem;
  color: #333333;
  margin-top: 2.1rem;
  margin-bottom: 2.5rem;
}
.section-title p {
  width: 101%;
}

.next-section-btn {
  position: absolute;
  bottom: -3.5rem;
  width: 7rem;
  height: 7rem;
  border: 1px solid #dcdcdc;
  border-radius: 50%;
  background-color: #fff;
  z-index: 2;
}
.next-section-btn a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.next-section-btn .arrow {
  width: 0.3rem;
  height: 3.7rem;
  background-color: #dcdcdc;
  position: relative;
  top: 10px;
}
.next-section-btn .arrow-down {
  position: relative;
  top: -10px;
  border: solid #dcdcdc;
  width: 2rem;
  height: 2rem;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.m-menu {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, #0f7bff, #eeeeee);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.m-menu-item {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #0f7bff;
}
.m-menu_active {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}

.close-m-menu {
  position: fixed;
  top: 10%;
  right: 10%;
  font-weight: bold;
  font-size: 3.6rem;
  color: #000;
}

.close-m-menu:hover {
  cursor: pointer;
}

.m-menu-link {
  display: none;
  position: relative;
  width: 50px;
  height: 50px;
}

.menu-burger {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #0f7bff;
}
.menu-burger::before, .menu-burger::after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #0f7bff;
}
.menu-burger::before {
  content: "";
  transform: translateY(-5px);
}
.menu-burger::after {
  content: "";
  transform: translateY(5px);
}

.scroll {
  position: absolute;
  bottom: 0.5%;
  right: 7.8%;
  width: 4.5rem;
  height: 4.5rem;
  background-color: #fff;
  border-radius: 3px;
}
.scroll a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.scroll__arrow {
  width: 0.2rem;
  height: 2rem;
  background-color: #dcdcdc;
  position: relative;
  top: 1.5rem;
  background-color: #0f7bff;
}
.scroll__arrow_top {
  position: relative;
  top: -0.5rem;
  border: 1px solid #0f7bff;
  width: 1rem;
  height: 1rem;
  border-width: 0 0.2rem 0.2rem 0;
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 164rem;
  width: 100%;
  height: 10rem;
}
.header-top .logo {
  box-sizing: border-box;
  width: 17.9rem;
  height: 10rem;
  border-radius: 0 0 22px 22px;
  background-color: #0f7bff;
  text-align: center;
  padding-top: 3.2rem;
}
.header-top .logo__text {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 2.4rem;
  color: #feffff;
}
.header-top .menu {
  display: flex;
  justify-content: space-between;
  width: 35.3rem;
}
.header-top .menu-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 57.3rem;
  text-transform: uppercase;
}
.header-top .menu-item {
  box-sizing: border-box;
  height: 3rem;
  margin-right: 4rem;
  font-weight: 700;
  line-height: 27px;
  color: #929292;
}
.header-top .menu-item_active {
  color: #0f7bff;
}
.header-top .menu-item:hover {
  border-bottom: 2px solid #0f7bff;
}
.header-top .menu-item:active {
  color: #0f7bff;
}
.header-content {
  margin-top: 10.6rem;
  width: 61.1rem;
  height: 22.3rem;
  text-align: center;
}
.header-content h2 {
  font-size: 3.6rem;
  font-weight: 700;
  color: #333333;
  line-height: 2.4rem;
}
.header-content p {
  margin: 3.2rem 0 3.7rem;
  color: #929292;
  line-height: 27px;
}
.header-content .btn-wrapper {
  display: flex;
  width: 36rem;
  margin: 0 auto;
}
.header-content button:first-child {
  margin-right: 3rem;
}

.device {
  width: 35.8rem;
  height: 49.6rem;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
}
.device-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 53.5rem;
  display: flex;
  width: 90rem;
  margin-top: 8rem;
}
.device-left {
  background-image: url(../../assets/img/device-small.png);
  position: absolute;
  bottom: 0;
  left: -0.6rem;
}
.device-center {
  width: 44.5rem;
  height: 109%;
  z-index: 2;
  background-image: url(../../assets/img/device.png);
}
.device-right {
  background-image: url(../../assets/img/device-small.png);
  position: absolute;
  bottom: 0;
  right: -0.6rem;
}
.device-screen {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 6rem;
  background-size: 65%;
}
.device-screen-left {
  background-image: url(../../assets/img/Place_screen-small-left.png);
}
.device-screen-center {
  background-image: url(../../assets/img/Place_Your_screen-center.png);
  background-size: 69%;
}
.device-screen-right {
  background-image: url(../../assets/img/Place_your_screen-rigth.png);
}

.features {
  height: 63rem;
  background-color: #f5fcfd;
  border: solid transparent;
}
.features-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 34rem;
  margin-top: 16.5rem;
  margin-bottom: 13rem;
}
.features .feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 36rem;
  height: 29rem;
  box-shadow: 0 0 25px #f0f0f0;
  border-radius: 5px;
  background-color: #ffffff;
  text-align: center;
}
.features .feature-item-icon {
  width: 7rem;
  height: 7rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  border-radius: 50%;
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: center;
}
.features .feature-item_icon1 {
  background-color: #dfedff;
  background-image: url(../../assets/img/feature-icon1.png);
}
.features .feature-item_icon2 {
  background-color: #f5dfff;
  background-image: url(../../assets/img/feature-icon2.png);
  background-size: 55%;
}
.features .feature-item_icon3 {
  background-color: #dfffe3;
  background-image: url(../../assets/img/feature-icon3.png);
}
.features .feature-item_header {
  margin-bottom: 1.8rem;
  font-weight: 600;
  font-size: 1.8rem;
  color: #333333;
  line-height: 2.7rem;
}
.features .feature-item_center {
  align-self: flex-end;
}

.about {
  height: 119rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 112.9rem;
  height: 93rem;
  margin-left: 39rem;
  margin-right: 40.1rem;
}
.about .article-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 105rem;
  height: 40rem;
}
.about .article-wrapper_right {
  align-self: flex-end;
}
.about .article-wrapper_left {
  flex-direction: row-reverse;
  align-self: flex-start;
  width: 106.3rem;
}
.about .app-screens {
  position: relative;
  width: 39.9rem;
  height: 100%;
}
.about .app-screens-img-big {
  width: 26.3rem;
  height: 40rem;
}
.about .app-screens-img-small {
  position: absolute;
  top: 7%;
  right: 0;
  width: 22.1rem;
  height: 33.7rem;
}
.about .app-screens_background {
  position: absolute;
  z-index: -1;
  width: 48rem;
  height: 42.5rem;
  background-color: #0f7bff;
  transform: rotate(50deg);
  border-radius: 10%;
}
.about .app-screens_background_top {
  top: -10%;
  left: -33%;
}
.about .app-screens_background_bottom {
  bottom: -9%;
  right: -32%;
}
.about-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 54.4rem;
  height: 22.4rem;
  margin-top: 8.6rem;
}
.about-item h2 {
  color: #333333;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.6rem;
}

.instruction {
  box-sizing: border-box;
  height: 64.6rem;
  background-color: #f5fcfd;
  padding-top: 12.5rem;
}
.instruction-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.instruction-item {
  width: 29.6rem;
  height: 25.6rem;
  text-align: center;
}
.instruction-item-wrapper {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  width: 107.6rem;
}
.instruction-item_header {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.7rem;
  color: #333333;
}
.instruction-item p {
  width: 101%;
}
.instruction-item-icon {
  width: 10rem;
  height: 10rem;
  background-color: #dfedff;
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 2.6rem;
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: center;
}
.instruction-item_icon1 {
  background-image: url(../../assets/img/instruction-icon1.png);
}
.instruction-item_icon2 {
  background-image: url(../../assets/img/instruction-icon2.png);
}
.instruction-item_icon3 {
  background-image: url(../../assets/img/instruction-icon3.png);
  background-size: 40%;
}
.instruction_horizontal-line {
  position: absolute;
  z-index: -1;
  top: 20%;
  left: 18%;
  width: 69rem;
  border-top: 1px solid #0f7bff;
}

.pricing {
  box-sizing: border-box;
  height: 83.6rem;
  padding-top: 13rem;
}
.pricing-wrapper {
  display: flex;
  align-items: center;
}
.pricing-wrapper :last-child {
  margin-right: 0;
}
.pricing-plan {
  width: 33.1rem;
  height: 26.6rem;
  margin-right: 5.9rem;
}
.pricing-plan h2 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.6rem;
  color: #333333;
  margin-bottom: 3rem;
}
.pricing-plan__btn-wrapper {
  display: flex;
  margin-top: 3.4rem;
}
.pricing-plan__btn-left {
  border-radius: 25px 0 0 25px;
  border-right: none;
  width: 16.7rem;
}
.pricing-plan__btn-right {
  border-radius: 0 25px 25px 0;
  border-left: none;
}
.pricing-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 36rem;
  height: 57.6rem;
  box-shadow: 0 0 68px rgba(165, 165, 165, 0.25);
  border-radius: 5px;
  background-color: #ffffff;
  margin-right: 3rem;
}
.pricing-card__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pricing-card__wrapper_buy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pricing-card__icon {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #dfedff;
  border-radius: 50%;
}
.pricing-card__icon-wrapper {
  position: relative;
  width: 10rem;
  height: 10rem;
  margin-top: 4rem;
  margin-bottom: 2.2rem;
}
.pricing-card__icon-img {
  position: absolute;
  top: 24%;
  left: 25%;
  width: 5.5rem;
  height: 5.5rem;
}
.pricing-card__icon_big {
  width: 10rem;
  height: 10rem;
}
.pricing-card__icon_small {
  width: 7.5rem;
  height: 7.5rem;
  background-color: #cfe4fe;
  top: 13%;
  left: 13%;
}
.pricing-card h2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #333333;
  margin-bottom: 2.5rem;
}
.pricing-card__horizontal {
  width: 16.5rem;
  background-color: #e0e0e0;
  margin: 0;
  margin-bottom: 1.9rem;
}
.pricing-card__service {
  height: 16.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.7rem;
}
.pricing-card .price {
  margin-bottom: 2.6rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 3.6rem;
  color: #0f7bff;
}
.pricing-card .price .currency {
  font-size: 1.6rem;
  font-weight: 500;
}

.testimonials {
  display: flex;
  height: 60.8rem;
  background-color: #f5fcfd;
}
.testimonials__img {
  width: 75.2rem;
  height: 60.8rem;
}
.testimonials-wrapper {
  height: 37.8rem;
  margin-top: 12.5rem;
  margin-left: 12.7rem;
  overflow: hidden;
}
.testimonials__header {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.6rem;
  color: #333333;
  margin-bottom: 4.4rem;
}
.testimonials__review {
  width: 117.8rem;
  height: 21.5rem;
  display: flex;
}
.testimonials .review-item {
  position: relative;
  box-sizing: border-box;
  width: 36rem;
  height: 21.5rem;
  padding: 3rem 3rem;
  margin-right: 3rem;
  box-shadow: 0 0 25px rgba(165, 165, 165, 0.1);
  border-radius: 5px;
  background-color: #ffffff;
}
.testimonials .review-item__icon {
  position: absolute;
  top: 19%;
  right: 9%;
  width: 1.7rem;
  height: 1.3rem;
}
.testimonials .review-item__header {
  font-size: 1.8rem;
  font-weight: 600;
  color: #333333;
}
.testimonials .review-item__sub-header {
  font-size: 1.4rem;
  margin-bottom: 2.9rem;
}
.testimonials .review-item p {
  margin-top: 1.5rem;
}
.testimonials__pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 9rem;
  height: 1rem;
  margin-top: 5rem;
}
.testimonials__pagination .pagination-item {
  width: 2rem;
  height: 1rem;
  border-radius: 5px;
  background-color: #d4d4d4;
  cursor: pointer;
}
.testimonials__pagination .pagination-item_active {
  width: 3rem;
  background-color: #0f7bff;
}

.lastest-news {
  box-sizing: border-box;
  padding-top: 12.5rem;
  height: 96rem;
}
.lastest-news__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.posts {
  display: flex;
  justify-content: space-between;
  height: 53rem;
  width: 100%;
  margin-top: 4.2rem;
}
.posts__main {
  width: 55.6rem;
}
.posts__side {
  width: 55.2rem;
}

.post_big {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.post__preview {
  width: 16.5rem;
  height: 12rem;
  margin-right: 3rem;
}
.post__preview-big {
  width: 55.5rem;
  height: 28.5rem;
}
.post__header {
  width: 101%;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.8rem;
  color: #333333;
}
.post__header_big {
  margin-top: 3rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.6rem;
  color: #0f7bff;
}
.post_small {
  height: 12rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.post__main-content {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}
.post__text-wrapper {
  margin-top: -0.7rem;
}

.free-trial {
  box-sizing: border-box;
  padding-top: 12.5rem;
  height: 33.6rem;
  background-color: #f5fcfd;
}
.free-trial__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.free-trial .text-content {
  margin-right: 16.5rem;
}
.free-trial .text-content h2 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.6rem;
  color: #333333;
  margin-bottom: 2rem;
}

.page-footer {
  position: relative;
  height: 38.9rem;
  background-color: #0f7bff;
}
.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-footer__wrapper .logo {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 2.4rem;
  color: #fff;
  margin-top: 13rem;
  margin-bottom: 4.1rem;
}
.page-footer .subscribe {
  display: flex;
  align-items: center;
  width: 56rem;
  height: 6rem;
  margin-bottom: 13rem;
}
.page-footer .subscribe__email {
  flex-grow: 1;
  height: 5.6rem;
  border: 0.2rem solid #fff;
  border-right: none;
  border-radius: 50px 0 0 50px;
  background-color: transparent;
  padding: 0 5%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.7rem;
  color: #fff;
}
.page-footer .subscribe__email::-webkit-input-placeholder {
  color: #fff;
}
.page-footer .subscribe__email::-moz-placeholder {
  color: #fff;
}
.page-footer .subscribe__btn {
  width: 16.8rem;
  height: 6.5rem;
  border-radius: 0 50px 50px 0;
  border-left: none;
  background-color: #fff;
  color: #0f7bff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.7rem;
}
.page-footer .horiazontal-line {
  position: absolute;
  bottom: 9.5rem;
  width: 100%;
  background-color: #fff;
}

.footer {
  box-sizing: border-box;
  padding-top: 3rem;
  width: 100%;
  height: 10.3rem;
  border-top: 1px solid #fff;
  background-color: #0f7bff;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .copyright {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.7rem;
}
.footer__nav {
  display: flex;
  justify-content: space-between;
  width: 34.8rem;
  margin-left: 12rem;
}
.footer__nav-item {
  color: #d8d8d8;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.7rem;
  cursor: pointer;
}
.footer__nav-item:hover {
  opacity: 1;
  color: #fff;
}
.footer__nav-item:active {
  opacity: 0.5;
  color: #fff;
}
.footer__nav-item_active {
  color: #fff;
}
.footer .social-media {
  display: flex;
  width: 7.8rem;
  height: 2rem;
}
.footer .social-media__link {
  width: 2.6rem;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer .social-media__link-fb {
  background-image: url(../../assets/img/social-media.png);
}
.footer .social-media__link-tw {
  background-image: url(../../assets/img/social-media.png);
  background-position-x: 50%;
}
.footer .social-media__link-yt {
  background-image: url(../../assets/img/social-media.png);
  background-position-x: 100%;
}

@media only screen and (min-width: 1920px) {
  html {
    font-size: 10px;
  }
}
@media only screen and (min-width: 2560px) {
  html {
    font-size: 13.3px;
  }
}
@media only screen and (max-width: 1520px) {
  .page-header {
    box-sizing: border-box;
    padding: 0 4rem;
  }
}
@media only screen and (max-width: 1280px) {
  html {
    font-size: 7px;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 6px;
  }
}
@media only screen and (max-device-width: 1024px) {
  .page-header {
    height: 60rem;
    background-size: contain;
    background-position: right;
  }

  .device-wrapper {
    display: none;
  }

  .header-content p {
    color: #000000;
  }

  .next-section-btn .arrow-down {
    top: -4px;
  }

  .about .app-screens_background_top {
    left: -12%;
  }
  .about .app-screens_background_bottom {
    right: -12%;
  }

  .testimonials__img {
    width: 68.2rem;
  }
  .testimonials-wrapper {
    margin-left: 5.7rem;
  }

  .scroll {
    right: 2%;
  }
}
@media only screen and (max-device-width: 768px) {
  .page-header {
    background-image: none;
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 4rem;
  }

  .header-content {
    width: 100%;
    height: 100%;
    max-width: 61.1rem;
    margin-top: 5rem;
  }
  .header-content p {
    color: #929292;
  }

  .header-top .menu-wrapper {
    display: none;
  }

  .m-menu-link {
    display: block;
  }

  .features {
    height: 100%;
  }
  .features-wrapper {
    width: 70%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 8rem auto;
  }
  .features .feature-item {
    margin-bottom: 2rem;
  }
  .features .feature-item_center {
    align-self: auto;
  }

  .about {
    box-sizing: border-box;
    padding: 13rem 4rem 4rem;
    height: 100%;
  }
  .about-wrapper {
    height: 100%;
    margin: 0;
    align-items: center;
  }
  .about-item {
    width: 100%;
    max-width: 54.4rem;
  }
  .about .article-wrapper {
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .about .article-wrapper:first-child {
    margin-bottom: 8rem;
  }

  .instruction {
    height: 100%;
    padding: 12.5rem 5rem 0;
  }
  .instruction-item-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .instruction_horizontal-line {
    width: 1px;
    height: 60rem;
    top: 0%;
    left: 50%;
    border-top: none;
    border-left: 1px solid #0f7bff;
  }
  .instruction-item {
    margin-bottom: 2rem;
  }

  .pricing {
    height: 100%;
    padding: 8rem 5rem 5rem;
  }
  .pricing-wrapper {
    flex-direction: column;
  }
  .pricing-plan {
    margin-right: 0;
    margin-bottom: 3rem;
  }
  .pricing-card {
    margin-right: 0;
    margin-bottom: 3rem;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    max-width: 58rem;
    min-width: 40rem;
    height: 100%;
  }
  .pricing-card__horizontal {
    height: 16.5rem;
    width: 1px;
  }
  .pricing-card__wrapper:first-child {
    margin: 0 5rem;
  }
  .pricing-card__wrapper:last-child {
    width: 100%;
  }
  .pricing-card__wrapper_buy {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    width: 90%;
  }
  .pricing-card__service {
    margin-top: 3rem;
  }

  .testimonials {
    box-sizing: border-box;
    padding-top: 5rem;
    height: 100%;
  }
  .testimonials__img {
    display: none;
  }
  .testimonials-wrapper {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .testimonials__header {
    margin-left: 4rem;
    margin-right: 4rem;
    text-align: center;
  }

  .lastest-news {
    height: 100%;
    padding: 5rem 4rem 0;
  }

  .posts {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .posts__main {
    margin-bottom: 4rem;
    max-width: 55.6rem;
    width: 100%;
  }
  .posts__side {
    max-width: 55.2rem;
    width: 100%;
  }

  .post__preview-big {
    max-width: 55.2rem;
    width: 100%;
    height: auto;
  }
  .post_small {
    min-width: 40rem;
    height: 100%;
  }

  .free-trial {
    padding: 5rem 4rem 0;
  }
  .free-trial__wrapper {
    height: 100%;
    flex-direction: column;
    align-items: center;
  }
  .free-trial .text-content {
    margin: 0;
    margin-bottom: 4rem;
  }

  .scroll {
    bottom: 1.5%;
  }

  .page-footer {
    box-sizing: border-box;
    padding: 5rem 4rem 7rem;
    height: 100%;
  }
  .page-footer .logo {
    margin-top: 0;
  }
  .page-footer .subscribe {
    max-width: 56rem;
    width: 100%;
    margin-bottom: 0;
  }
  .page-footer .horiazontal-line {
    bottom: 15%;
  }

  .footer {
    padding: 3rem 2rem;
    margin: 0;
  }
  .footer__wrapper {
    height: 100%;
  }
  .footer__nav {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .footer .copyright__wrapper {
    width: 40%;
  }
}
@media only screen and (max-width: 380px) {
  .pricing-card__wrapper_buy {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about .app-screens_background {
    width: 40rem;
    height: 35.5rem;
  }
  .about .app-screens_background_top {
    left: 0%;
    top: auto;
  }
  .about .app-screens_background_bottom {
    right: 0%;
    bottom: auto;
  }
}

/*# sourceMappingURL=homepage.css.map */
